@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Galindo&family=Poppins:wght@200&display=swap");

body {
  background-color: white;
  max-width: 1600px;
  margin: 0 auto;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.home-grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.first-card {
  margin: 200px 0;
}

.second-card {
  margin: 200px 0;
}

.third-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #023047;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #6f7364;
  padding-bottom: px;

}

a {
  padding-top: 100px;
}

/*
@media screen and (max-width: 800px) {
  main.home-grid {
    display: block;
    height: auto;
  }
}  */
