/*...Chamber of Commerce...*/

/* Tengo que revisar pq la hamburguer no me funciona como debería*/

/*Para traer selectores en la barra superior de VSCode:
copio el cód HTML, luego  digito >HTML to CC GENERATE Y
pego en CSS*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1600px;
  height: auto;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-size: 22px;
  
}

header {
  display: flex;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  padding-right: 10px;
}
section.header-section {
  max-width: 1600px;
  display: flex;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr; */
  background-color: #1b4965;
  width: 100%;
  margin: 0;
  align-items: center;
}

#logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

h1.banner-title {
  font-family: Roboto;
  font-size: 2.5rem;
  justify-content:flex-start;
  text-align: center;
  align-items: center;
  color: white;
  
}

main {
  margin:auto;
  background-color: white;
  width: 60%;
  margin-bottom: 30px;
  
}

h1,
p {
  margin: 0;
  padding: 0;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: white;
  color: #000;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "≡";
}

#menu.open::before {
  content: "❎";
}

.nav {
  
  border-bottom: 2px solid red;
  padding-bottom: 20px;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}


.navigation a {
  display: block;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  color: #e63946;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.5s;
}

.show li {
  display: block;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.navigation a:hover,
navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

.active::before {
  content: "📍"; /* just a wayfinding symbol for the user */
}

section .card {
  background-color: #f1faee;
}

.title-card {
  text-align: center;
}



#hero {
  display: grid;
  grid-template-columns: 1fr 1f 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  height: 420px;
  margin-bottom: 30px;
  
}

#hero-box {
  grid-column: 1/6;
  grid-row: 1/4;
  z-index: 2;
  
  

}

#hero-img {
  width: 1600px;
  display: block;
  height: auto;
  margin: auto;
  opacity: 0.;
}

#hero-h2 {
  grid-column: 1/4;
  grid-row: 3/4;
  margin-top: 100px;
  z-index: 2;
  color: white;
  font-weight: 200;
}
section#hero-msg {
  grid-column: 1/4;
  grid-row: 3/4;
  margin-top: 100px;
  z-index: 2;
  color: white;
  font-weight: 200;
}

h2.home-title {
  text-align: left;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  grid-column: 1/3;
  grid-row: 2/3;
  padding-left: 30px;
}

h4.clasic-msg {
  text-align: left;
  font-family: poppins;
  grid-column: 1/3;
  grid-row: 3/4;
  padding-left: 30px;
  background-color: #EBEBEB;
  color: black;
}

button#join {
  grid-column: 1/6;
  grid-row: 3/4;
  background-color: #FF6700;
  height:50px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 100px;
  color: white;
}

a.book{
  color: white;
  padding: 10px;
  font-weight:100;
}

/* MAIN SECTIONS*/


.each-section {
  background-color: #EBEBEB;
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(5, 5, 5, 5);
  margin: 30px;
  
}
.title-section {
  font-family: poppins, sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
  padding-top:30px;
  padding-bottom: 50px;

}

.title-section::before {
  content: "🔷";
  margin-left: 20px;
  margin-right: 20px;
  
}



.each-event {
  padding: 30px;
  background-color: white;

}

div.event-box {
  margin:5px;
  border: 1px dashed gray;
  margin: 30px;
  padding: 15px;
  background-color: white;
  
}
.title-event {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: #1b4965;
}

.event{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  
}

/* I DON'T KNOW 
.location {
}
.temperature {
}
.description {
}
*/

#spotlight-section {
  display: block;
  justify-content: flex-start;
}
.company-spotlight {
  margin: 20px;
  margin:5px;
  border: 1px dashed gray;
  margin: 30px;
  padding: 15px;
  background-color: white;

}



.spotlight {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  color: #1b4965;
}

.spotlight p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

footer {
  display: block;
  text-align: center;
  padding-top: 50px;
  background-color: #1b4965;
  color: white;
  height: 200px;

}

#lastModified {
  color: #f3c88c;
}

img {
  max-width: 100%;
  margin: 0;
}



@media creen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  #menu {
    display: flex; /* hide hamburger button */
    flex-direction: column;
  }

  .nav {
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
  }
  .navigation {
    flex-direction: column;
    align-items: end;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }

  .navigation li {
    display: flex;
    flex-direction: column;
  }

  .show li {
    display: block;
  }
}

h2.title-companies {
  font-family: poppins, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top:30px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
  color: #FF6700;
  

}

