/*...Chamber of Commerce...*/

/* Tengo que revisar pq la hamburguer no me funciona como debería*/

/*Para traer selectores en la barra superior de VSCode:
copio el cód HTML, luego  digito >HTML to CC GENERATE Y
pego en CSS*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  height: auto;
  font-family: "Poppins", sans-serif;
  /* margin: 0; */
  /* padding: 0; */
  /* margin: 0 auto; */
  font-size: 22px;
}

header {
  background-color: #1b4965;
  /* max-width: 1600px; */
  /* width: 100%; */
  padding-right: 10px;
}

#logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

h1.banner-title {
  font-family: Roboto;
  font-size: 2.5rem;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  color: white;
}

main {
  margin: auto;
  background-color: white;
  /* width: 60%; */
  margin-bottom: 30px;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s; /*para el dark mode*/
}

h1,
p {
  margin: 0;
  padding: 0;
}

/* Mobile View */

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: white;
  color: #000;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "≡";
}

nav {
  padding-bottom: 20px;
  background-color: rgb(243, 238, 238);
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}


/*HERO SECTION */
.hero {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows:  1fr 1fr; */
  /* height: 420px; */
  width: 100%;
  opacity: 0.8;
  margin-bottom: 30px;
}

.join {
  background-color: #ff6700;
  color: white;
}

a.book {
  color: white;
  padding: 10px;
  font-weight: 100;
  align-items: center;
}

/* MAIN SECTIONS*/

.all-section,
.each-section-hotel,
.each-section-oil,
.each-section-food {
  background-color: #ebebeb;
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(5, 5, 5, 5);
  margin: 30px;
  gap: 20px;
  padding: 0px;
}

.all-section h2 {
  font-family: poppins, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #1b4965;
}

.all-section h3,
.each-section-hotel h3,
.each-section-oil h3,
.each-section-food h3 {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  color: #1b4965;
  font-weight: 200;
}

.all-section-events h2::before {
  content: "🔷";
  margin-left: 5px;
  margin-right: 20px;
}

.all-section-weather h2::before {
  content: "🔷";
  margin-left: 5px;
  margin-right: 20px;
}

.info p,
.each-section-hotel p,
.each-section-oil p,
.each-section-food p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
}

/* I DON'T KNOW 
.location {
}
.temperature {
}
.description {
}
*/

footer {
  display: block;
  text-align: center;
  padding-top: 50px;
  background-color: #1b4965;
  color: white;
  height: 200px;
}

#lastModified {
  color: #f3c88c;
}

img {
  width: 100%;
  /* margin: 0; */
}

/* Dark Mode */

#mode {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.dark-mode {
  background-color: #000;
  color: #fff;
  border-color: #eee;
  color: black;
}



/***** MEDIA QUERIE ****/

@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  /*
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .navigation a {
    text-align: center;
  }

  #menu {
    display: none;
  }
  */

  .all-section-events,
  .all-section-weather {
    background-color: #ebebeb;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(5, 5, 5, 5);
    margin: 30px;
    gap: 20px;
    padding: 20px;
  }
  
  .title-companies {
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    color: #ff6700;
  }


}
