/*...Chamber of Commerce...*/

/* Tengo que revisar pq la hamburguer no me funciona como debería*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1600px;
  height: auto;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-size: 22px;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
}
section.header-section {
  max-width: 1600px;
  display: flex;
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr; */
  background-color: #275493;
  width: 100%;
  margin: 0;
  align-items: center;
}

#logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

h1.banner-title {
  font-family: Roboto;
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

main {
  margin-top: 20px;
  background-color: #ebebeb;
}

h1,
p {
  margin: 0;
  padding: 0;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: white;
  color: #000;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "≡";
}

#menu.open::before {
  content: "❎";
}

.nav {
  background-color: pink;
  border-bottom: 2px solid red;
  padding-bottom: 20px;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  color: #e63946;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.5s;
}

.show li {
  display: block;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.navigation a:hover,
navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

.active::before {
  content: "📍"; /* just a wayfinding symbol for the user */
}

section .card {
  background-color: #f1faee;
}
h2 {
  /* WDD230 Web Frontend...*/
  color: #e63946;
  text-align: center;
}

.title-card {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  background-color: #1b4965;
}

h3.tittle-card {
  color: #f1faee;
  background-color: #1b4965;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
}
.card {
  background-color: #f1faee; /*fondo activity; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  /*text-align: center; */
}

li {
  padding-left: 50px;
}

li a {
  color: #1d1e3a; /* Letra Activity */
}
h3 {
  align-content: center;
  color: #1d3557;
}

section p {
  text-align: center;
  color: #1d3557;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1b4965;
  color: white;
}

#lastModified {
  color: #f3c88c;
}

@media creen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  #menu {
    display: flex; /* hide hamburger button */
    flex-direction: column;
  }

  .nav {
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
  }
  .navigation {
    flex-direction: column;
    align-items: end;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }

  .navigation li {
    display: flex;
    flex-direction: column;
  }

  .show li {
    display: block;
  }
}
