@media only screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: center;
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 0.5fr 2fr;
    /* width: 100%; */
    margin: 1rem auto;
    padding: 0.5rem;
    gap: 15px;
    /* background-color: #1b4965; */
    /* display: flex; */
    /* text-align: center; */
  }

  .hero {
    grid-column: 1/4;
    grid-row: 1/2;
    opacity: 0.8;
    margin-bottom: 30px;
  }

  nav {
    padding-bottom: 20px;
    background-color: #1b4965;
  }
  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
    padding-top: 100px;
  }

  .navigation a {
    text-align: end;
    color: rgb(251, 222, 7);
  }

  #menu {
    display: none;
  }

  .join {
    top: 50%;
    left: 50%;
    justify-content: center;
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
  }

  /* menu larger */

  .all-section-events,
  .all-section-weather {
    background-color: #ebebeb;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(5, 5, 5, 5);
    margin: 30px;
    gap: 20px;
    padding: 20px;
  }

  .all-section-events {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .all-section-weather {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .title-companies {
    grid-column: 1/4;
    grid-row: 3/4;
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    color: #ff6700;
  }

  .each-section-hotel {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: large;
  }
  .each-section-oil {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .each-section-food {
    grid-column: 3/4;
    grid-row: 4/5;
  }

  .info {
    grid-column: 1 / span 2;
  }
  .weather {
    grid-column: 3/3;
  }

  .all-section-events h2,
  .all-section-weather h2 {
    font-family: poppins, sans-serif;
    font-size: 3rem;
  }

  .all-section-events h3,
  .all-section-weather h3,
  .each-section-hotel h3,
  .each-section-oil h3,
  .each-section-food h3 {
    font-size: 2.5rem;
    padding: 10px 10px 10px 10px;
  }

  .info p,
  .each-section-hotel p,
  .each-section-oil p,
  .each-section-food p {
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
  }
}
