@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

main {
  display: grid;
  margin-top: 20px;
  background-color: #f1faee;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
main {
  background-color: #f1faee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  background-color: #1b4965;
  color: #f1faee;
  text-align: center;
  padding-left: 30%;
}

header img {
  margin-right: 10px;
}

header h1 {
  padding-left: 5%;
  color: white;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  background-color: #eee;
  color: #000;
}

#menu::before {
  content: "≡";
}

nav {
  background-color: #f1faee /*Fondo de Home Site pla */;
  border-bottom: 2px solid #1d3557; /* Línea de 1 píxel sólido, color gris claro */
  padding-bottom: 20px;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}
show li {
  display: block;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

.navigation a:hover,
navigation a:active {
  color: white;
  background-color: black;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}
section .card {
  background-color: #f1faee;
}
h2 {
  /* WDD230 Web Frontend...*/
  color: #e63946;
  text-align: center;
}

.title-card {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  background-color: #1b4965;
}

h3.tittle-card {
  color: #f1faee;
  background-color: #1b4965;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: bold;
}
.card {
  background-color: #f1faee; /*fondo activity; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  /*text-align: center; */
}

li {
  padding-left: 50px;
}

li a {
  color: #1d1e3a; /* Letra Activity */
}
h3 {
  align-content: center;
  color: #1d3557;
}

section p {
  text-align: center;
  color: #1d3557;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1b4965;
  color: white;
}

#lastModified {
  color: #f3c88c;
}

/* Pseudo element*/

main h2::before {
  content: "🔷";
  margin-left: 5px;
  margin-right: 20px;
}

main h2::after {
  content: "🔷";
  margin-left: 20px;
  margin-right: 20px;
}

iframe {
  display: block;
  margin: 20px; /* Márgenes alrededor del iframe */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center;
  max-width: 100%; /* Hacer que el ancho del iframe sea máximo 100% */
  height: auto; /* Altura automática para mantener la proporción */
}
