@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

main {
  display: grid;
  margin-top: 20px;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  background-color: #1b4965;
  color: white;
  text-align: center;
  padding-left: 30%;
}

header img {
  margin-right: 10px;
}

header h1 {
  padding-left: 5%;
}
nav {
  margin-top: 20px;
  background-color: #101111;
}

/* Me falta colocar la letra blanca en nav */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav li a {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

h2 {
  color: black;
  text-align: center;
}

.grid-learning-activities {
  background-color: red;
  /*text-align: center; */
}

.title-card {
  background-color: red;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2 fr;
  /*align-items: center; */
  background-color: #1b4965;
}

h3.tittle-card {
  color: white;
  background-color: #1b4965;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: bold;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  /*text-align: center; */
}

li {
  padding-left: 50px;
}

h3 {
  align-content: center;
}

p {
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1b4965;
  color: white;
}

#lastModified {
  color: rgba(255, 145, 0, 0.758);
}
