@media screen and (min-width: 500px) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  main {
    width: 48%; /* Muestra las secciones en dos columnas */
    display: inline-block;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
